<div id="<%= dom_id chore %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= chore.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Schedule:</strong>
    <%= chore.schedule %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Household:</strong>
    <%= chore.household_id %>
  </div>
</div>
